* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background: beige;
}


.menu {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    align-items: center;
    display: flex;
    padding: 0 80px;
}

.ul li a {
    color: #000;
    align-items: center;
    margin: 0 36px;
}

.fa-solid {
    margin: 0px 40px;
}

.btn {
    padding: 10px 20px;
    background: #373737;
    color: #fff;
    border: none;
}

.img {
    height: 762.1875px;
    width: 1440px;

}

.icon {
    position: absolute;
    width: 309px;
    height: 760px;
    left: 0px;
    top: 94px;

    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.img_2 {
    position: absolute;
    top: 150px;
    left: 130px;

}

.img_3 {
    position: absolute;
    top: 250px;
    left: 130px;
}

.img_4 {
    position: absolute;
    top: 350px;
    left: 130px;
}

.blur {
    position: absolute;
    width: 1131px;
    height: 339px;
    left: 309px;
    top: 252px;

    background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
    backdrop-filter: blur(10px);
}

.en {
    position: absolute;
    width: 500px;
    height: 101px;
    left: 25%;
    top: 25px;

    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #000000;
}

.p {
    position: absolute;
    left: 30%;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.btn_2 {
    position: absolute;
    padding: 10px 20px;
    left: 753px;
    top: 503px;
    color: white;
    background: #373737;
    border-radius: 5px;
    border: none;
}

.d {
    position: absolute;
    width: 309px;
    height: 262px;
    left: 0px;
    top: 762px;

    background: #000000;
}

.d_text {
    position: absolute;
    width: 101px;
    height: 47px;
    left: 395px;
    top: 893px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #000000;

}

.K {
    position: absolute;
    width: 78px;
    height: 47px;
    left: 190px;
    top: 1px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.c {
    position: absolute;

    left: 380px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.fur {
    position: absolute;
    width: 123px;
    height: 23px;
    left: 384px;
    top: 965px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.r {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 565px;
    top: 965px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;

}

.cir {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 608px;
    top: 965px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.q {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 640px;
    top: 965px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.furniture {
    position: absolute;
    height: 23px;
    left: 735px;
    top: 965px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.learn {
    position: absolute;
    width: 199px;
    height: 35px;
    left: 141px;
    top: 1144px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

.img_5 {
    position: absolute;
    width: 606px;
    height: 400px;
    left: 0px;
    top: 1262px;

    background: url(tg.jpg);
    border-radius: 0px 5px 5px 0px
}

.it {
    position: absolute;
    height: 23px;
    left: 217px;
    top: 1194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #373737;

}

.lorem {
    position: absolute;
    width: 663px;
    height: 162px;
    left: 636px;
    top: 1262px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;

    color: #373737;

}

.mor {

    position: absolute;
    left: 649px;
    top: 1467px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-style: normal;
    /* identical to box height */
    background: #373737;
    text-align: center;
    border: none;
    color: #FFFFFF;


}

.img_6 {
    position: absolute;
    width: 176px;
    height: 99px;
    left: 636px;
    top: 1563px;

}

.img_7 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 917px;
    top: 1575px;

}

.radius {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1182px;
    top: 1579px;
    border-radius: 50%;

    background: rgba(46, 198, 232, 0.71);
}

.radius_2 {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1220px;
    top: 1579px;
    border-radius: 50%;

    background: rgba(46, 198, 232, 0.71);
}

.we {
    position: absolute;
    width: 311px;
    height: 35px;
    left: 141px;
    top: 1782px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

.its {
    position: absolute;
    width: 358px;
    height: 60px;
    left: 150px;
    top: 1832px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #373737;


}

.card {
    position: absolute;
    width: 360px;
    height: 180px;
    left: 141px;
    top: 1937px;

    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.10);
    border-radius: 5px;

}

.img_8 {
    position: absolute;
    left: 15px;
    top: 16px;
}

.bg {
    position: absolute;
    width: 70px;
    height: 65px;
    left: 15px;
    top: 5px;
    background-color: rgba(21, 188, 224, 0.2);
    border-radius: 5px;
}


.free {
    position: absolute;
    left: 15px;
    top: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.is {
    position: absolute;
    left: 13px;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #696161;

}

.card_2 {
    position: absolute;
    width: 360px;
    height: 180px;
    left: 450px;
    top: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.bg_bg {
    position: absolute;
    width: 70px;
    height: 65px;
    left: 15px;
    top: 5px;
    background-color: rgba(21, 188, 224, 0.2);
    border-radius: 5px;
}

.h3 {
    position: absolute;
    left: 15px;
    top: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.p_p {
    position: absolute;
    left: 13px;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #696161;
}

.img_9 {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 5px;
}

.card_3 {
    position: absolute;
    width: 360px;
    height: 180px;
    left: 900px;
    top: 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.bg_bg2 {
    position: absolute;
    width: 70px;
    height: 65px;
    left: 15px;
    top: 5px;
    background-color: rgba(21, 188, 224, 0.2);
    border-radius: 5px;
}

.h33 {
    position: absolute;
    left: 15px;
    top: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.div {
    position: absolute;
    left: 13px;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #696161;
}

.img_10 {
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 5px;
}

.h1 {
    position: absolute;
    width: 174px;
    height: 35px;
    left: 450px;
    top: 350px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #000000;

}

.pc {
    position: absolute;
    width: 358px;
    height: 60px;
    left: 370px;
    top: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;

    color: #373737;
}

.s {
    position: absolute;
    left: 141px;
    top: 2419px;
    padding: 10px 15px;
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
}

.im {
    padding: 10px;
    width: 40px;
    height: 37px;
    background: #373737;
    position: absolute;
    left: 340px;
    top: 2420px;
    border-radius: 3px;
}

.all {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 500px;
    top: 2429px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.chair {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 570px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.table {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 650px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.bed {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 730px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.sofa {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 799px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


.war {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 880px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.al {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 995px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.dim {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 1090px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.rack {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 1180px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.stand {
    position: absolute;
    width: 23px;
    height: 30px;
    left: 1250px;
    top: 2429px;
    color:
        #686868;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.cards {
    position: absolute;
    width: 267px;
    height: 338px;
    left: 141px;
    top: 2519px;

    background: #F9F9F9;
    box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
    border-radius: 5px;

}


.img_11 {
    border-radius: 5px;
}

.card_h1 {
    position: absolute;
    left: 10px;
    top: 190px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.card_text {
    position: absolute;
    width: 247px;
    height: 48px;
    left: 10px;
    top: 230px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #696161;
}

.card_btn {
    position: absolute;
    left: 75px;
    top: 295px;
    padding: 10px 15px;
    background: #373737;
    border-radius: 5px;
}

.h4 {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 200px;
    top: 189px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #373737;

}

.view {
    position: absolute;
    width: 120px;
    height: 47px;
    left: 660px;
    top: 2900px;
    border: none;
    background: #373737;
    border-radius: 5px;
}


.text_h3{
    position: absolute;
    left: 158px;
    top: 3000px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;

}


.p_text {
    position: absolute;
    left: 150px;
    top: 3050px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #373737;
}

.cardss {
    position: absolute;
    width: 704px;
    height: 250px;
    left: 158px;
    top: 3150px;

    background: #F9F9F9;
    border-radius: 5px;
}

.img_12 {
    height: 249px;
    left: 133px;
    top: 3600px;
}

.card_h2 {
    position: absolute;
    left: 280px;
    top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #373737;


}

.h5 {
    position: absolute;
    width: 79px;
    height: 30px;
    left: 280px;
    top: 45px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #696161;

}


.card_text2 {
    position: absolute;
    left: 280px;
    top: 90px;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #F6DE00;
}

.btn_4 {
    position: absolute;
    left: 300px;
    top: 230px;
}